.gameName {
    border: lightgrey solid 0.25rem;
    padding: 0.5rem;
    background-color: black;
    word-wrap: break-word;
    font-size: calc(1.5rem + 1vw);
    filter: drop-shadow(0 0 0.25rem black);
}

.gameInfo {
    border: black solid 0.25rem;
    padding: 0.5rem;
    background-color: lightgrey;
    word-wrap: break-word;
    font-size: calc(1rem + 1vw);
    filter: drop-shadow(0 0 0.25rem lightgrey);
}