.navImage {
    font-size: 2rem;
}

.navCustom {
    background-color: indianred;
    margin-bottom: 0;
    padding-bottom: 0;
    filter: drop-shadow(0 0 5px black);
    overflow: visible;
    z-index: 10;
}

.dropdownCustom {
    background-color: indianred !important;
}

@media (min-width: 992px) {
    .positionFix {
        position: relative;
        transform: translateX(45%);
    }
}

.secondaryBackground, .primaryBackground {
    margin-top: 0;
    min-height: 100vh;
    font-size: 2rem;
    filter: drop-shadow(0 0 5px black);
}

@media (max-width: 768px) {
    .secondaryBackground {
        min-height: 0;
    }
}

.secondaryBackground {
    background-color: lightgrey;
}

.primaryBackground {
    background-color: grey;
}

.tag {
    background-color: darkred;
    color: white;
    border: 2px solid orangered;
    min-height: 40px;
    font-size: 1.5rem;
    padding: 5px;
    white-space: normal;
    word-wrap: break-word;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

.titleSize {
    font-size: calc(1rem + 1vw);
}